:root {
    --background-black: rgb(43, 43, 43);
    --white: rgb(241, 241, 241);
    --background-2: rgb(104, 56, 101);
}

html, body {
    background: var(--background-2);
    margin: 0;
    padding: 0;
}

.header, h2 {
    animation: animado 6s infinite;
    font-size: 1.5em;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    text-shadow: 2px 2px black;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--background-2);
    padding: 20px;
   
}

.dado-cont {
    justify-content: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.dado {
    font-family: monospace;
    font-style: italic;
    margin: 0px auto;
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100px;
    height: 100px;
    background: rgb(221, 221, 221);
    border-radius: 5px;
    box-shadow: 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.boton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-style: italic;
    font-size: 1.5em;
    grid-row: 3/3;
    grid-column: 2/3;
    border-radius: 20px;
    height: 40px;
    margin: 0px auto;
    padding: 17px;
    background: rgb(195, 228, 133);
    border: 2px solid black;

}

.boton:hover {
    background: rgb(211, 129, 129);
    color: var(--white);
    text-shadow: 2px 2px black;
}

.numeros-cont {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeros {

    color: var(--white);
    padding: 20px;
    background: rgb(20, 20, 20);
    border-radius: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 1.4em;
}

@keyframes animado {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }

}

